<style>
.container{
  padding: 50px 0px;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.box{
  padding: 15px 0px;
  width: 100%;
  max-width: 760px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 10px;
  background-color: rgb(238, 238, 238);
}

.box ul{
  width: 90%;
}
.box ul li{
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 10px 0px;
  padding: 5px 0px;
  border-bottom: 1px solid black;
}
</style>

<div class="container">
    <div class="box">
        <h2>{{title}}</h2>
        <button (click)="addItem(myDate)">Click me</button>

        <hr>
        <h4>My list</h4>
        <ul >
            <li *ngFor="let item of items; let i = index;">{{i}} - {{item}} <button (click)="items.splice(i, 1)">x</button></li>
        </ul>
    </div>
</div>

<router-outlet></router-outlet>
